In [2]:
"""Opearations we're going to perform
Deleting redundant columns,
Renaming the columns
Dropping Duplicates
Cleaning Individual Columns
Remove the NaN values from the dataset
Check for some more transformation
"""

"Opearations we're going to perform\nDeleting redundant columns,\nRenaming the columns\nDropping Duplicates\nCleaning Individual Columns\nRemove the NaN values from the dataset\nCheck for some more transformation\n"

In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv("zomato.csv")

In [5]:
data.head(1)

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari

In [6]:
data.shape

(51717, 17)

In [7]:
data.columns

Index(['url', 'address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          51717 non-null  object
 1   address                      51717 non-null  object
 2   name                         51717 non-null  object
 3   online_order                 51717 non-null  object
 4   book_table                   51717 non-null  object
 5   rate                         43942 non-null  object
 6   votes                        51717 non-null  int64
 7   phone                        50509 non-null  object
 8   location                     51696 non-null  object
 9   rest_type                    51490 non-null  object
 10  dish_liked                   23639 non-null  object
 11  cuisines                     51672 non-null  object
 12  approx_cost(for two people)  51371 non-null  object
 13  reviews_list                 51717 non-null  object
 14  menu_item                    51717 non-null  object
 15  listed_in(type)              51717 non-null  object
 16  listed_in(city)              51717 non-null  object
dtypes: int64(1), object(16)
memory usage: 6.7+ MB

In [ ]:
# Deleting the redundant columns

In [9]:
data.columns

Index(['url', 'address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [10]:
columns_to_keep = ['name', 'online_order', 'book_table', 'rate', 'dish_liked', 'approx_cost(for two people)',]
columns_to_drop = ['url', 'address', 'votes','phone', 'location', 'rest_type', 'cuisines', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)']

In [11]:
len(columns_to_keep)

6

In [12]:
len(columns_to_drop)

11

In [20]:
data = data[columns_to_keep]

In [21]:
data.head(1)

,name,online_order,book_table,rate,dish_liked,approx_cost(for two people)
0,Jalsa,Yes,Yes,4.1/5,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...",800

In [ ]:
# Other way, Dropping the columns

In [26]:
data.drop(columns = columns_to_drop, inplace = True)
# Not working as it's been dropped already.

KeyError: "['url', 'address', 'votes', 'phone', 'location', 'rest_type', 'cuisines', 'reviews_list', 'menu_item', 'listed_in(type)', 'listed_in(city)'] not found in axis"

In [ ]:
# Renaming the columns

In [29]:
data.rename(columns = {"name":"Name", "approx_cost(for two people)":"approx_cost(for 2 people)"})

,Name,online_order,book_table,rate,dish_liked,approx_cost(for 2 people)
0,Jalsa,Yes,Yes,4.1/5,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...",800
1,Spice Elephant,Yes,No,4.1/5,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...",800
2,San Churro Cafe,Yes,No,3.8/5,"Churros, Cannelloni, Minestrone Soup, Hot Choc...",800
3,Addhuri Udupi Bhojana,No,No,3.7/5,Masala Dosa,300
4,Grand Village,No,No,3.8/5,"Panipuri, Gol Gappe",600
...,...,...,...,...,...,...
51712,Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6 /5,NaN,"1,500"
51713,Vinod Bar And Restaurant,No,No,NaN,NaN,600
51714,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,NaN,NaN,"2,000"
51715,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,"Cocktails, Pizza, Buttermilk","2,500"
51716,The Nest - The Den Bengaluru,No,No,3.4 /5,NaN,"1,500"

In [30]:
# Checking the changes
data.columns

Index(['Name', 'online_order', 'book_table', 'rate', 'dish_liked',
       'approx_cost(for 2 people)'],
      dtype='object')

In [31]:
# Checking the changes

data.head(1)

,Name,online_order,book_table,rate,dish_liked,approx_cost(for 2 people)
0,Jalsa,Yes,Yes,4.1/5,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...",800

In [35]:
new_column_names = []
for i in data.columns:
    new_column_names.append(i.capitalize())

In [36]:
new_column_names

['Name',
 'Online_order',
 'Book_table',
 'Rate',
 'Dish_liked',
 'Approx_cost(for 2 people)']

In [37]:
data.columns = new_column_names

In [38]:
data.columns

Index(['Name', 'Online_order', 'Book_table', 'Rate', 'Dish_liked',
       'Approx_cost(for 2 people)'],
      dtype='object')

In [39]:
data

,Name,Online_order,Book_table,Rate,Dish_liked,Approx_cost(for 2 people)
0,Jalsa,Yes,Yes,4.1/5,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...",800
1,Spice Elephant,Yes,No,4.1/5,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...",800
2,San Churro Cafe,Yes,No,3.8/5,"Churros, Cannelloni, Minestrone Soup, Hot Choc...",800
3,Addhuri Udupi Bhojana,No,No,3.7/5,Masala Dosa,300
4,Grand Village,No,No,3.8/5,"Panipuri, Gol Gappe",600
...,...,...,...,...,...,...
51712,Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6 /5,NaN,"1,500"
51713,Vinod Bar And Restaurant,No,No,NaN,NaN,600
51714,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,NaN,NaN,"2,000"
51715,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,"Cocktails, Pizza, Buttermilk","2,500"
51716,The Nest - The Den Bengaluru,No,No,3.4 /5,NaN,"1,500"

In [ ]:
# Dropping Duplicate values

In [42]:
data.duplicated().value_counts()

True     32808
False    18909
Name: count, dtype: int64

In [43]:
data.duplicated().sum()

32808

In [45]:
data[data.duplicated()].head()

,Name,Online_order,Book_table,Rate,Dish_liked,Approx_cost(for 2 people)
14,San Churro Cafe,Yes,No,3.8/5,"Churros, Cannelloni, Minestrone Soup, Hot Choc...",800
44,Onesta,Yes,Yes,4.6/5,"Farmhouse Pizza, Chocolate Banana, Virgin Moji...",600
104,CAFE NOVA,No,No,3.2/5,NaN,600
193,CafÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ© Down The A...,Yes,No,4.1/5,"Waffles, Pasta, Crispy Chicken, Honey Chilli C...",500
199,The Vintage Cafe,Yes,No,3.0/5,"Burgers, Caramel Milkshake, Iced Coffee, Iced Tea",400

In [ ]:
data.drop_duplicates(inplace = True)

In [53]:
data.duplicated().sum()

0

In [ ]:
# Remove the NaN Values from Data

In [60]:
data.head(2)

,Name,Online_order,Book_table,Rate,Dish_liked,Approx_cost(for 2 people)
0,Jalsa,Yes,Yes,4.1/5,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...",800
1,Spice Elephant,Yes,No,4.1/5,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...",800

In [55]:
data.isna().sum()

Name                             0
Online_order                     0
Book_table                       0
Rate                          2418
Dish_liked                   10587
Approx_cost(for 2 people)      140
dtype: int64

In [65]:
data.dropna(inplace = True)

,Name,Online_order,Book_table,Rate,Dish_liked,Approx_cost(for 2 people)
0,Jalsa,Yes,Yes,4.1/5,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...",800
1,Spice Elephant,Yes,No,4.1/5,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...",800
2,San Churro Cafe,Yes,No,3.8/5,"Churros, Cannelloni, Minestrone Soup, Hot Choc...",800
3,Addhuri Udupi Bhojana,No,No,3.7/5,Masala Dosa,300
4,Grand Village,No,No,3.8/5,"Panipuri, Gol Gappe",600
...,...,...,...,...,...,...
51611,Chung Wah,No,No,2.5 /5,Manchow Soup,800
51617,Breakfast House,No,No,3.6 /5,"Coffee, Vada, Mla Dosa",300
51620,Fujian Express,Yes,No,3.8 /5,"Noodles, Chicken Noodle, Momos, American Chops...",600
51628,Nook - Aloft Bengaluru Cessna Business Park,No,Yes,4.2 /5,"Chicken Quesadilla, Naan, Breakfast Buffet, Ch...","1,800"
51677,Bhagini,No,No,2.5 /5,"Biryani, Andhra Meal",800

In [66]:
data.isna().sum()

Name                         0
Online_order                 0
Book_table                   0
Rate                         0
Dish_liked                   0
Approx_cost(for 2 people)    0
dtype: int64

In [68]:
data
# Index has shifted. We'll fix it.

,Name,Online_order,Book_table,Rate,Dish_liked,Approx_cost(for 2 people)
0,Jalsa,Yes,Yes,4.1/5,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...",800
1,Spice Elephant,Yes,No,4.1/5,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...",800
2,San Churro Cafe,Yes,No,3.8/5,"Churros, Cannelloni, Minestrone Soup, Hot Choc...",800
3,Addhuri Udupi Bhojana,No,No,3.7/5,Masala Dosa,300
4,Grand Village,No,No,3.8/5,"Panipuri, Gol Gappe",600
...,...,...,...,...,...,...
51611,Chung Wah,No,No,2.5 /5,Manchow Soup,800
51617,Breakfast House,No,No,3.6 /5,"Coffee, Vada, Mla Dosa",300
51620,Fujian Express,Yes,No,3.8 /5,"Noodles, Chicken Noodle, Momos, American Chops...",600
51628,Nook - Aloft Bengaluru Cessna Business Park,No,Yes,4.2 /5,"Chicken Quesadilla, Naan, Breakfast Buffet, Ch...","1,800"
51677,Bhagini,No,No,2.5 /5,"Biryani, Andhra Meal",800

In [70]:
data.reset_index()

,index,Name,Online_order,Book_table,Rate,Dish_liked,Approx_cost(for 2 people)
0,0,Jalsa,Yes,Yes,4.1/5,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...",800
1,1,Spice Elephant,Yes,No,4.1/5,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...",800
2,2,San Churro Cafe,Yes,No,3.8/5,"Churros, Cannelloni, Minestrone Soup, Hot Choc...",800
3,3,Addhuri Udupi Bhojana,No,No,3.7/5,Masala Dosa,300
4,4,Grand Village,No,No,3.8/5,"Panipuri, Gol Gappe",600
...,...,...,...,...,...,...,...
8245,51611,Chung Wah,No,No,2.5 /5,Manchow Soup,800
8246,51617,Breakfast House,No,No,3.6 /5,"Coffee, Vada, Mla Dosa",300
8247,51620,Fujian Express,Yes,No,3.8 /5,"Noodles, Chicken Noodle, Momos, American Chops...",600
8248,51628,Nook - Aloft Bengaluru Cessna Business Park,No,Yes,4.2 /5,"Chicken Quesadilla, Naan, Breakfast Buffet, Ch...","1,800"
8249,51677,Bhagini,No,No,2.5 /5,"Biryani, Andhra Meal",800

In [ ]:
data.drop(columns = "index", inplace = True)

In [77]:
data

,Name,Online_order,Book_table,Rate,Dish_liked,Approx_cost(for 2 people)
0,Jalsa,Yes,Yes,4.1/5,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...",800
1,Spice Elephant,Yes,No,4.1/5,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...",800
2,San Churro Cafe,Yes,No,3.8/5,"Churros, Cannelloni, Minestrone Soup, Hot Choc...",800
3,Addhuri Udupi Bhojana,No,No,3.7/5,Masala Dosa,300
4,Grand Village,No,No,3.8/5,"Panipuri, Gol Gappe",600
...,...,...,...,...,...,...
51611,Chung Wah,No,No,2.5 /5,Manchow Soup,800
51617,Breakfast House,No,No,3.6 /5,"Coffee, Vada, Mla Dosa",300
51620,Fujian Express,Yes,No,3.8 /5,"Noodles, Chicken Noodle, Momos, American Chops...",600
51628,Nook - Aloft Bengaluru Cessna Business Park,No,Yes,4.2 /5,"Chicken Quesadilla, Naan, Breakfast Buffet, Ch...","1,800"
51677,Bhagini,No,No,2.5 /5,"Biryani, Andhra Meal",800

In [ ]:
# Cleaning indvidual columns

# We'll fix Rate column: str to int

In [79]:
data["Rate"]

0         4.1/5
1         4.1/5
2         3.8/5
3         3.7/5
4         3.8/5
          ...
51611    2.5 /5
51617    3.6 /5
51620    3.8 /5
51628    4.2 /5
51677    2.5 /5
Name: Rate, Length: 8250, dtype: object

In [ ]:
data["Rate"] = data["Rate"].str.replace(" ","")

In [ ]:
data["Rate"] = data["Rate"].str.replace("/"," out of ")

In [89]:
data["Rate"]

0        4.1 out of 5
1        4.1 out of 5
2        3.8 out of 5
3        3.7 out of 5
4        3.8 out of 5
             ...
51611    2.5 out of 5
51617    3.6 out of 5
51620    3.8 out of 5
51628    4.2 out of 5
51677    2.5 out of 5
Name: Rate, Length: 8250, dtype: object

In [92]:
data["Online_order"]

0        Yes
1        Yes
2        Yes
3         No
4         No
        ...
51611     No
51617     No
51620    Yes
51628     No
51677     No
Name: Online_order, Length: 8250, dtype: object

In [93]:
data["Online_order"].apply(lambda x: 1 if x == "Yes" else 0)

0        1
1        1
2        1
3        0
4        0
        ..
51611    0
51617    0
51620    1
51628    0
51677    0
Name: Online_order, Length: 8250, dtype: int64

In [ ]:
# Export the data

In [95]:
data.to_csv("Cleaned_zomato_data.csv")

In [96]:
#  NOw, it is ready to download in left side.